[Desktop Entry]
Name=NetBeans IDE
GenericName=Netbeans IDE
Comment=The Smarter Way to Code
Exec=netbeans
Icon=netbeans
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Application;Development;Java;IDE;
